# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=app_base

# JWT
JWT_SECRET=your-secret-key-here
JWT_EXPIRY=1d

# Admin User
ADM_EMAIL=admin@example.com
ADM_PASSWORD=admin123

# Cloudinary
CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Node Environment
NODE_ENV=development
